parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - tests/*
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\]+::find\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\]+::all\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\]+::create\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\]+::update\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\]+::delete\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\]+::where\(\)#' 